<div ui-content-for="title">
  <span>Gallery</span>
</div>
<div class="scrollable">
  <div class="scrollable-content section" ui-scroll-bottom="nextPage('album')">
  	<div class="text-center"><h2>Gallery</h2><hr></div>
	<div class="row" ng-repeat="i in rowArray track by $index">
	  <div ng-repeat="album in albums | limitTo: 2: $index*2" class="col-sm-6 col-md-6">
	    <div class="thumbnail text-center">
	      <a href="#!/gallery/{{album.id}}/">
		      <i class="fa fa-photo feature-icon text-primary"></i>
		  </a>
	      <div class="caption">
	        <p>{{ album.title | limitTo: 20 }} {{album.title.length > 20 ? '...' : ''}}</p>
	      </div>
	    </div>
	  </div>
	</div>
  </div>
</div>