<div class="scrollable">
  <div class="scrollable-content section">
  	<div class="list-group text-center">
  		<div class="list-group-item list-group-item-home">
	        <a href="#!/posts/">
	          <i class="fa fa-gamepad feature-icon text-primary"></i>
	        </a>
	        <div>
	            <h3 class="home-heading">Posts</h3>
	        </div>
      	</div>
      	<div class="list-group-item list-group-item-home">
	        <a href="#!/gallery/">
	          <i class="fa fa-photo feature-icon text-primary"></i>
	        </a>
	        <div>
	            <h3 class="home-heading">Gallery</h3>
	        </div>
      	</div>
      	<div class="list-group-item list-group-item-home">
	        <a href="#!/plugins/">
	          <i class="fa fa-plug feature-icon text-primary"></i>
	        </a>
	        <div>
	            <h3 class="home-heading">Plugins</h3>
	        </div>
      	</div>
  	</div>
  </div>
</div>