<div ui-content-for="title">
  <span>Cordova Plugins</span>
</div>
<div class="scrollable">
  <div class="scrollable-content section">
  	<div class="list-group text-center">
  		<div class="list-group-item list-group-item-home">
	        <a ng-click="openCamera()" href="javascript:void(0);">
	          <i class="fa fa-camera feature-icon text-primary"></i>
	        </a>
	        <div>
	            <h3 class="home-heading">Camera</h3>
	        </div>
      	</div>
      	<div class="list-group-item list-group-item-home">
	        <a ng-click="scanBarcode()" href="javascript:void(0);">
	          <i class="fa fa-barcode feature-icon text-primary"></i>
	        </a>
	        <div>
	            <h3 class="home-heading">Scanner</h3>
	        </div>
      	</div>
      	<div class="list-group-item list-group-item-home">
	        <a href="#!/plugins/location/">
	          <i class="fa fa-map-marker feature-icon text-primary"></i>
	        </a>
	        <div>
	            <h3 class="home-heading">Location</h3>
	        </div>
      	</div>
      	<div class="list-group-item list-group-item-home">
	        <a ng-click="openDialog()" href="javascript:void(0);">
	          <i class="fa fa-comments feature-icon text-primary"></i>
	        </a>
	        <div>
	            <h3 class="home-heading">Dialog</h3>
	        </div>
      	</div>
      	<div class="list-group-item list-group-item-home">
	        <a ng-click="vibrate(2000)" href="javascript:void(0);">
	          <i class="fa fa-bell-slash feature-icon text-primary"></i>
	        </a>
	        <div>
	            <h3 class="home-heading">Vibration</h3>
	        </div>
      	</div>
      	
  	</div>
  </div>
</div>
<div><img src=""  id="cam"></div>