<div ui-content-for="title">
  <span>Profile</span>
</div>

<div class="scrollable">
  <div class="scrollable-content">
    <div class="section section-break">
      <button ng-click="logout()" class="btn btn-primary btn-sm">Logout</button>
    </div>
    <div class="section section-break">
      <h3>
        Hello ! John Doe
      </h3>
      <div class="media"> 
        <div class="media-left"> 
          <i class="fa fa-user feature-icon text-primary"></i>
        </div> 
        <div class="media-body"> 
        <p><strong>Full Name:</strong>John Doe</p>
        <p><strong>Gender:</strong> Male</p>
        <p><strong>Birth Day:</strong> 8/17/1978</p>
        <p><strong>Company:</strong> Kent</p>
        <p><strong>Occupation:</strong> Staff development director</p>
        <p><strong>Phone Number:</strong> (XXX) XXX-XXXX</p>
        <p><strong>E-mail:</strong> john.doe@example.com</p>
        <p><strong>Address:</strong>3871 Fairfax St, Dumfries, VA, 22026 </p>
        <p><strong>Country:</strong> USA</p>
        </div> 
      </div>
    </div>
  </div>
</div>