<div class="scrollable ng-scope">
  <h1 class="scrollable-header app-name">Sample App <small>1.0</small></h1>
  <div class="scrollable-content">
    <div class="list-group" ui-turn-off="uiSidebarLeft">
      <a class="list-group-item" href="#!/">Home <i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#!/posts/">Posts <i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#!/gallery/">Gallery <i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#!/plugins/">Plugins <i class="fa fa-chevron-right pull-right"></i></a>
      <a ng-if="!loggedIn" class="list-group-item" href="#!/login/">Login <i class="fa fa-chevron-right pull-right"></i></a>
      <a ng-if="loggedIn" class="list-group-item" href="#!/profile/">My Profile <i class="fa fa-chevron-right pull-right"></i></a>
    </div>
  </div>
</div>